@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.navbar {
	display: flex;
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100vw;
	/* justify-content: space-evenly; */
	align-items: center;
	border-bottom: 1px solid var(--code-bg);
	background-color: var(--code-bg);
	font-family: sans-serif;

	padding: 20px 25px;
}
.logoContainer {
	display: flex;
	align-items: center;
	gap: 12px;
}
.logoCircle {
	width: 32px;
	height: 32px;
	background-color: var(--code-bg);
	border-radius: 50%;
}
.logoText {
	font-size: 22px;
	font-weight: 700;
	color: var(--text-h);
}
.navLinks {
	display: flex;
	justify-content: center;
	/* width: 320px; */
	gap: 24px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.link {
	text-decoration: none;
	color: var(--text-h);
	font-size: 16px;
	font-family: 'Inter', 'Segoe UI', sans-serif;
	font-weight: 400;
	font-variation-settings: 'wght' 400;
	cursor: pointer;
	display: inline-block;
	transition:
		font-variation-settings 0.3s ease-in-out,
		transform 0.2s ease;
}

.link:hover {
	font-weight: 700;
	font-variation-settings: 'wght' 700;
	transform: translateY(-1px);
}
.navContacts {
	display: flex;
	justify-content: center;
	gap: 24px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.mobileMenu {
	display: none;
}

@media (max-width: 1024px) {
	.navbar {
		justify-content: space-between;
	}

	.navLinks,
	.navContacts {
		display: none;
	}

	.mobileMenu {
		display: block;
	}
}
